/*
 Theme Name:     Full Frame Child Theme
 Theme URI:      http://www.elegantthemes.com/gallery/foxy/
 Description:    Full Frame Child Theme
 Author:         Elegant Themes
 Author URI:     http://www.elegantthemes.com
 Template:       full-frame
 Version:        1.0.0
*/

@import url("../full-frame/style.css");

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
    width: auto !important;
    height: auto !important;
}
.page p .fluid-width-video-wrapper{
    height:350px;
}
.single .entry-content>p:first-child, .entry-content>p>.fluid-width-video-wrapper iframe,.entry-content>p>.fluid-width-video-wrapper object,.entry-content>p>.fluid-width-video-wrapper embed {
    width: 600px !important;
    height: 350px !important;
}
.archive .entry-content>p>.fluid-width-video-wrapper iframe,.archive .entry-content>p>.fluid-width-video-wrapper object, .archive .entry-content>p>.fluid-width-video-wrapper embed
{
    width: 300px !important;
    height: 200px !important;
}
.home .fluid-width-video-wrapper {
    padding-top: 10% !important;
}
.next-overlay {
    background: transparent;
    width: 560px;
    height: 250px;
    opacity: 0;
    position: absolute;
    float: left;
    z-index: 99999;
    cursor: pointer;
}
.yarpp-related .next-overlay {
    width: 100%;
    height: 85%;
    position: relative;

}


.yarpp-thumbnails-horizontal .yarpp-thumbnail {
    margin-top: 30px !important;
    width: 250px !important;
}

.fluid-width-video-wrapper {
    padding-top: 44% !important;
}
.archive .fluid-width-video-wrapper {
    padding-top: 25% !important;
    height: 200px;
}
.archive article .entry-meta{
    display: none;
}
.yarpp-thumbnails-horizontal .yarpp-thumbnail-title {
    margin-top:7px;
  width:100% !important;
}

.yarpp-thumbnails-horizontal .yarpp-thumbnail {
    height: 200px !important;
}

.home article{
    margin-top:25px;
}

.home .yarpp-related>h3{
    display:none !important;
}

.home .page .entry-header{
    display: none !important;
}

.yarpp-thumbnail-title {
    width: 100%;}

.yarpp-related-none{
  display:none;
}

.archive .entry-content p:nth-child(2){
    display:none;
}
#breadcrumb-list{
    background: none;
}
#comment, .breadcrumb-current {
    background:#DDDDDD !important;
}